.about {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $orange;
	padding: $section-spacing;
	h1 {
		background-color: $black;
		color: $orange;
		margin-bottom: 50px;
		&::selection {
			background-color: $orange;
			color: $black;
		}
	}
	p {
		width: 80%;
		font-size: 1.125rem;
		font-weight: 500;
		&:not(:last-of-type) {
			margin-bottom: 30px;
		}
		&::selection {
			color: $orange;
			background-color: $black;
		}
	}
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 $triangle $triangle $triangle;
		border-color: transparent transparent $black transparent;
	}
}