.footer {
	background-color: $orange;
	padding: 50px 0;
	*::selection {
		background-color: $black;
		color: $orange;
	}
	.socials {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-column-gap: 20px;
		margin: 0 auto;
		margin-bottom: 20px;
		width: fit-content;
	}
	p {
		margin-top: 10px;
		& > a {
			color: $black;
			font-weight: 600;
			text-decoration: underline;
		}
		&:nth-of-type(2) {
			font-size: 0.875rem;
		}
	}
}