html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background: $black;
	// font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
	font-size: $font-size;
	font-family: $font-family;
	line-height: $line-height;
	text-align: center;
}

h1 {
	font-size: $h1-font-size;
	font-weight: $h1-font-weight;
	width: fit-content;
	padding: 10px 20px;
	line-height: normal;
	letter-spacing: $h1-spacing;
}

h2 {
	color: $black;
	font-size: $h2-font-size;
	font-weight: $h2-font-weight;
}