@media screen and (max-width: $tablet) {
	.about {
		padding: $section-spacing-mobile;
	}
	.events {
		padding: $section-spacing-mobile;
		.event {
			flex-direction: column-reverse;
			padding: 30px;
			.gallery, .info {
				width: 100%;
				margin: 0;
			}
			.info {
				margin-bottom: 20px;
			}
		}
	}
}

@media screen and (max-width: $mobile-l) {
	h1 {
		font-size: 1.875rem;
	}
	.header {
		padding: 20px;
		font-size: 1.375rem;
		ul {
			grid-column-gap: 10px;
		}
	}
	.hero {
		height: calc(100vh + #{$triangle-mobile});
		.logo {
			transform: translateY(-50px) scale(0.8);
		}
		.scroll {
			transform: scale(0.8);
		}
		&::after {
			border-width: 0 $triangle-mobile $triangle-mobile $triangle-mobile;
		}
	}
	.about {
		p {
			font-size: 1rem;
		}
		&::after {
			border-width: 0 $triangle-mobile $triangle-mobile $triangle-mobile;
		}
	}
	.events {
		h2 {
			font-size: 1.625rem;
		}
		.event {
			padding: 20px;
			.gallery {
				max-height: 150px;
			}
		}
		&::after {
			border-width: 0 $triangle-mobile $triangle-mobile $triangle-mobile;
		}
	}
	.footer {
		.socials {
			.img {
				width: 30px;
			}
		} 
	}
}

@media screen and (max-width: $mobile-m) {
	.header {
		padding: 20px 10px;
		font-size: 1.25rem;
		ul {
			grid-column-gap: 5px;
		}
	}
	.footer {
		.socials {
			grid-column-gap: 15px;
			margin-bottom: 0;

			img {
				width: 30px;
			}
		}
		p {
			font-size: 0.875rem;
			&:nth-of-type(2) {
				font-size: 0.75rem;
			}
		}
	}
}

@media screen and (max-height: $landscape) {
	.hero {
		.logo {
			transform: none;
			width: 70vh;
		}
		.scroll {
			display: none;
		}
	}
}