// =============================================================================
// CONTAINERS
// =============================================================================

$small-s                  : 320px                                      !default;
$small-m                  : 375px                                      !default;
$small-l                  : 425px                                      !default;
$small                    : 768px                                      !default;
$medium                   : 1024px                                     !default;
$large                    : 1200px                                     !default;

// =============================================================================
// BREAKPOINTS
// =============================================================================


$mobile-s                 : $small-s                                   !default;
$mobile-m                 : $small-m                                   !default;
$mobile-l                 : $small-l                                   !default;
$tablet                   : $small                                     !default;
$desktop                  : $medium                                    !default;

$landscape                : 550px                                      !default;

// =============================================================================
// COLORS
// =============================================================================

$orange                   : #FF8B17                                  !default;
$black                    : #000000                                  !default;
$white                    : #FFFFFF                                  !default;
$light-black              : #404040                                  !default;

// =============================================================================
// TYPOGRAPHY
// =============================================================================

$font-size                : 1rem                                       !default;
$font-family              : 'Raleway', sans-serif                      !default;
$line-height              : 1.5                                        !default;

$header-font-size         : 1.5625rem                                  !default;
$image-count-size         : 0.875rem                                   !default;
$image-count-weight       : 600                                        !default;

$h1-font-size             : 2.5rem                                     !default;
$h1-font-weight           : 800                                        !default;
$h1-spacing               : 2px                                        !default;

$h1-mobile                : 1.75rem                                    !default;
$h2-mobile                : 1.5rem                                     !default;

$h2-font-size             : 1.875rem                                   !default;
$h2-font-weight           : 700                                        !default;

// =============================================================================
// SPACING
// =============================================================================

$section-spacing          : 200px 0                                    !default;

// =============================================================================
// SIZES
// =============================================================================

$triangle                 : 40px                                       !default;
$triangle-mobile          : 30px                                       !default;