// Reset box sizing to border box
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Remove unwanted default spaces
h1, 
h2,
h3,
p,
figure,
ul,
li {
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
}