// =============================================================================
// CONTAINERS
// =============================================================================

$x-small                  : 600px                                      !default;
$small                    : 800px                                      !default;
$medium                   : 1000px                                     !default;
$large                    : 1200px                                     !default;

// =============================================================================
// BREAKPOINTS
// =============================================================================

$mobile                   : $x-small                                   !default;
$tablet                   : $small                                     !default;
$desktop                  : $medium                                    !default;

// =============================================================================
// COLORS
// =============================================================================

$orange                   : #FF8B17                                  !default;
$black                    : #000000                                  !default;
$white                    : #FFFFFF                                  !default;
$light-black              : #404040                                  !default;

// =============================================================================
// TYPOGRAPHY
// =============================================================================

$font-size                : 1rem                                       !default;
$font-family              : 'Raleway', sans-serif                      !default;
$line-height              : 1.5                                        !default;

$header-font-size         : 1.5625rem                                  !default;

$h1-font-size             : 2.5rem                                     !default;
$h2-font-size             : 1.875rem                                   !default;
$h1-font-weight           : 800                                        !default;
$h2-font-weight           : 700                                        !default;

$h1-mobile                : 1.75rem                                    !default;
$h2-mobile                : 1.5rem                                     !default;

// =============================================================================
// SPACING
// =============================================================================

$section-spacing          : 200px 0                                    !default;

// =============================================================================
// SIZES
// =============================================================================

$triangle                 : 40px                                       !default;